{% extends 'base.html' %}

{% block title %}
Subscribed Successfully
{% endblock %}

{% block content %}
<div class="container" style="color:white">

    <h4 style="text-align:center">Subscription Successful</h4><br><br>
    <div class="container" style="text-align:center">
        <table style="color:white">
            <tbody>
            <tr>
                <td>Subscription id</td>
                <td>{{ data.sid }}</td>
            </tr>
            <tr>
                <td>Plan</td>
                <td>{{data.plan}}</td>
            </tr>
            <tr>
                <td>Subscribed on</td>
                <td>{{data.start}}</td>
            </tr>
            <tr>
                <td>Subscription end</td>
                <td>{{data.end}}</td>
            </tr>
            </tbody>
        </table><br><br>
        <div style="text-align:center" class="row">
            <a class="waves-effect waves-light btn red" href="{% url 'home' %}">Start Watching</a>
        </div>
    </div>
</div>
<br><br>
{% endblock %}