{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<div class="container" style="color:white">
    <h3 style="text-align:center;color:white">{{ title }}</h3>
    <br><br>
    <div class="row">
            {% for p in movies %}
            <div class="col s4 m3">
                <div class="card">
                    <a href="/movie/{{ p.id }}">
                        <div class="card-image">
                            <img width="150px" height="300px" title="{{ p.title }}" src="https://image.tmdb.org/t/p/w200/{{ p.poster_path }}">
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}