{% extends 'base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<style>
    .container-text {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>

<div class="responsive-home">
    {% for p in popular %}
    <div class="container-text">
        <a href="movie/{{ p.id }}">
            <img style="box-shadow: inset 0 0 100px black;" title="{{ p.title }}" width="100%" height="400px"
                 src="https://image.tmdb.org/t/p/w1280/{{ p.backdrop_path }}">
            <div class="bottom-left" style="color:white;font-size:65px">{{ p.title }}</div>
        </a></div>
    {% endfor %}
</div>


<style>
    .card{
        box-shadow: 2px 2px 14px -1px rgba(112,112,112,1);
        }
</style>
<div class="section">
    <div class="container" style="color:white">
        <h4>Now playing</h4>
        <div class="responsive">
            {% for p in now_playing %}
            <div>
                <a href="movie/{{ p.id }}">
                    <img style="box-shadow: 2px 2px 14px -1px rgba(112,112,112,1); " title="{{ p.title }}"
                         src="https://image.tmdb.org/t/p/w200/{{ p.poster_path }}">
                </a>
            </div>
            {% endfor %}
            <div>
                <a href="{% url 'now_playing' %}">
                    <div class="row" style="text-align:center">
                        <div class="column"><br><br>
                            <h1><i class="material-icons" style="color:white;text-align:center; font-size:100px">add_circle</i>
                            </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container" style="color:white">
        <h4>Popular right now</h4>
        <div class="responsive">
            {% for p in popular %}
            <div>
                <a href="movie/{{ p.id }}">
                    <img style="box-shadow: 2px 2px 14px -1px rgba(112,112,112,1); " title="{{ p.title }}"
                         src="https://image.tmdb.org/t/p/w200/{{ p.poster_path }}">
                </a>
            </div>
            {% endfor %}
            <div>
                <a href="{% url 'popular' %}">
                    <div class="row" style="text-align:center">
                        <div class="column"><br><br>
                            <h1><i class="material-icons" style="color:white;text-align:center; font-size:100px">add_circle</i>
                            </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="container" style="color:white">
        <h4>Top Rated</h4>
        <div class="responsive">
            {% for p in top %}
            <div>
                <a href="movie/{{ p.id }}">
                    <img style="box-shadow: 2px 2px 14px -1px rgba(112,112,112,1); " title="{{ p.title }}"
                         src="https://image.tmdb.org/t/p/w200/{{ p.poster_path }}">
                </a>
            </div>
            {% endfor %}
            <div>
                <a href="{% url 'top_movies'  %}">
                    <div class="row" style="text-align:center">
                        <div class="column"><br><br>
                            <h1><i class="material-icons" style="color:white;text-align:center; font-size:100px">add_circle</i>
                            </h1>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<br><br><br>

{% endblock %}